    .Préambule {
        width: 70%;
        text-align: center;
        margin: 20px auto;
        background-color: $color-ciel;
        padding: 50px 33px;
        border-radius: 5px;
        h1 {
            font-size: 28px;
            font-weight: bolder;
            color: #1078ad;
        }
        hr {
            width: 50%;
            margin: auto;
            border: 1px solid #F4CF1B;
        }
        p {
            font-size: 17px;
            margin: 30px 0;
            // &:nth-child(4) {
            //     width: 80%;
            //     margin: 30px auto;
            // }
        }
    }
    
    .start-btn {
        font-size: 22px;
        font-weight: bolder;
        color: white;
        background-color: #1078AD;
        padding: 10px 30px 10px;
        border: 3px solid #1078AD;
        border-radius: 6px;
        cursor: pointer;
        transition: all .3s ease;
        margin: 10px auto 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        &:hover {
            color: #1078AD;
            background-color: transparent;
        }
    }
    
    .stepper {
        padding: 9rem 10rem 20px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        h1 {
            font-size: 20px;
            color: #1078AD;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                height: 22px;
                width: 22px;
                background-color: #1078AD;
                border-radius: 50%;
                position: absolute;
                top: -25px;
            }
            &::after {
                content: '';
                height: 22px;
                width: 22px;
                background-color: #88b7d3;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                z-index: -12;
                transition: all .3s ease;
            }
        }
    }