.Préambule {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    background-color: $color-ciel;
    padding: 50px 33px;
    border-radius: 5px;
    h1 {
        font-size: 28px;
        font-weight: bolder;
        color: $color-bleu;
    }
    hr {
        width: 50%;
        margin: auto;
        border: 1px solid $color-yellow;
    }
    p {
        font-size: 20px;
        margin: 30px 0;
        // &:nth-child(4) {
        //     width: 80%;
        //     margin: 30px auto;
        // }
    }
}

.start-btn {
    font-size: 22px;
    font-weight: bolder;
    color: white;
    background-color: $color-bleu;
    padding: 10px 30px 10px;
    border: 3px solid $color-bleu;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px auto 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: $color-bleu;
        background-color: transparent;
        transition: all .3s ease;
    }
}

.stepper {
    padding: 10rem 10rem 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    h1 {
        font-size: 20px;
        color: $color-bleu;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            height: 22px;
            width: 22px;
            background-color: $color-bleu;
            border-radius: 50%;
            position: absolute;
            top: -25px;
        }
        &::after {
            content: '';
            height: 22px;
            width: 22px;
            background-color: #88b7d3;
            border-radius: 50%;
            position: absolute;
            top: -25px;
            z-index: -12;
            transition: all .3s ease;
        }
    }
    .select {
        &::before {
            content: '';
            height: 22px;
            width: 22px;
            background-color: $color-yellow;
            border-radius: 50%;
            position: absolute;
            top: -30px;
            z-index: 100;
        }
        &::after {
            content: '';
            height: 48px;
            width: 48px;
            background-color: #88b7d3;
            border-radius: 50%;
            position: absolute;
            top: -43px;
            z-index: 50;
        }
    }
}

.questionnaire {
    width: 70%;
    border: 1px solid rgb(190, 190, 190);
    margin: 20px auto;
    border-radius: 4px;
    display: none;
    margin-bottom: 50px;
    overflow: hidden;
    h1 {
        text-align: center;
        font-size: 31px;
        color: $color-grey;
        font-weight: bolder;
        width: 82%;
        margin: 70px auto;
    }
    .progress {
        border-bottom: 1px solid rgb(190, 190, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0;
        background-color: #f7f7f7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        h3 {
            font-weight: bolder;
            margin-right: 15px;
        }
        &__bar {
            width: 90%;
            height: 10px;
            border-radius: 20px;
            background-color: #e6f1f7;
            overflow: hidden;
            .bar {
                height: 100%;
                width: calc(1 * calc(100% / 22));
                background-color: $color-bleu;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                transition: all .4s ease;
            }
        }
    }
}

.answer-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    input[type="number"] {
        font-size: 16px;
        border: 1px solid $color-bleu;
        width: 55%;
        padding: 10px;
    }
    .input-span {
        font-size: 16px;
        border: 1px solid $color-bleu;
        border-left: none;
        padding: 10px 10px 10px;
        color: rgb(85, 85, 85);
        background-color: #edf6fa;
        cursor: pointer;
    }
    input[type="radio"] {
        -webkit-appearance: none;
    }
    input[type="radio"]:checked+label {
        background-color: $color-bleu;
        color: $color-yellow;
    }
    label {
        height: 80px;
        width: 120px;
        color: $color-bleu;
        border-radius: 4px;
        border: 4px solid $color-bleu;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9px 0px 0;
        transition: .5s ease;
        margin-right: 50px;
        cursor: pointer;
        span {
            font-size: 22px;
            position: relative;
            bottom: 5px;
        }
    }
}

.btn-container {
    margin: 110px 0 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button {
        font-size: 17px;
        background-color: #cfe4ef;
        padding: 10px 20px;
        color: $color-bleu;
        border: 2px solid $color-bleu;
        border-radius: 4px;
        transition: .3s ease;
        &:hover {
            background-color: $color-bleu;
            color: white;
            cursor: pointer;
        }
        &:disabled {
            cursor: not-allowed;
            opacity: .65;
            &:hover {
                background-color: #cfe4ef !important;
                color: $color-bleu !important;
            }
        }
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
}

@keyframes next {
    0% {
        opacity: 0;
        transform: translateX(90%);
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes previous {
    0% {
        opacity: 0;
        transform: translateX(-90%);
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}