        .heroHeader {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            &__left {
                padding-top: 52px;
            }
            &__right {
                padding: 0em;
                &__title {
                    text-align: center;
                    font-size: 26px;
                    color: $color-bleu;
                    margin-top: 40px;
                }
                &__img {
                    display: block;
                    margin: auto;
                    text-align: center;
                }
                &__para {
                    text-align: center;
                    color: $color-grey;
                    font-size: 25px;
                    font-weight: 900;
                }
                &__button {
                    background-color: $color-bleu;
                    padding-left: 14rem;
                    padding-right: 14rem;
                    border: 2px solid $color-bleu;
                    border-radius: 10px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bolder;
                    color: $footer-color;
                    font-size: xx-large;
                    margin-top: 20px;
                    cursor: pointer;
                    &:hover {
                        color: $color-bleu;
                        background-color: $color-ciel;
                        transition: all .3s ease;
                    }
                }
            }
            @media (max-width: 750px) {
                .heroHeader {
                    text-align: center;
                    &__left {
                        padding-top: 60px;
                        padding-left: 31px;
                        padding-right: 31px;
                    }
                    &__right {
                        padding-top: 0.5rem;
                        &__title {
                            text-align: center;
                            font-size: 22px;
                            color: $color-bleu;
                            margin-top: 1px;
                        }
                        &__para {
                            text-align: center;
                            color: $color-grey;
                            font-size: 21.5px;
                            font-weight: 900;
                        }
                        &__button {
                            padding: 5px;
                            border: 2px solid $color-bleu;
                            padding-left: 6rem;
                            font-size: 1.4rem;
                            padding-right: 6rem;
                        }
                    }
                }
            }
        }