.symptomes {
    &__question {
        text-align: center;
        font-size: 35px;
        padding-top: 5rem;
        color: $color-bleu;
    }
    &__cat1 {
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        &__box {
            font-size: 32px;
            justify-content: center;
            text-align: center;
            padding-top: 5rem;
            font-weight: bolder;
        }
    }
    &__cat2 {
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        padding-right: 5rem;
        padding-top: 2rem;
        &__box {
            font-size: 32px;
            justify-content: center;
            text-align: center;
            padding-top: 5rem;
            font-weight: bolder;
        }
    }
}