.symptomes {
    &__question {
        text-align: center;
        font-size: 35px;
        padding-top: 5rem;
        color: $color-bleu;
    }
    &__cat1 {
        display: flex;
        justify-content: space-evenly;
        &__box {
            font-size: 32px;
            justify-content: center;
            text-align: center;
            padding-top: 5rem;
            font-weight: bolder;
        }
    }
    &__cat2 {
        display: flex;
        justify-content: space-evenly;
        padding-right: 5rem;
        padding-top: 2rem;
        &__box {
            font-size: 32px;
            justify-content: center;
            text-align: center;
            padding-top: 5rem;
            font-weight: bolder;
        }
    }
}

@media (max-width: 650px) {
    .symptomes {
        &__question {
            text-align: center;
            font-size: 28px;
            padding-top: 5rem;
            color: $color-bleu;
            padding: 25px;
        }
        &__cat1 {
            display: flex;
            justify-content: space-evenly;
            margin-left: 35px;
            &__box {
                font-size: 23px;
                justify-content: center;
                text-align: center;
                padding-top: 5rem;
                font-weight: bolder;
            }
        }
        &__cat2 {
            display: flex;
            justify-content: space-evenly;
            padding-right: 3rem;
            padding-top: 2rem;
            margin-left: 46px;
            &__box {
                font-size: 23px;
                justify-content: center;
                text-align: center;
                padding-top: 5rem;
                font-weight: bolder;
            }
        }
    }
}