$color-bleu: #1078AD;
$color-yellow: #F4CF1B;
$color-ciel: #96C5DC;
$color-grey: #7F7F7F;
$color-dark:#2B2B2C;
$color-ver:#369D53;
$color-withgry: #D0E5F0;
$footer-color: #FFFFFF;
$color-bleudark: #1A519E;